input{
	opacity: 0;
	position: absolute;
	z-index: -1;
}
span{
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor:pointer;
}

input[type="radio"]+span{
	background: url(../img/sprite.png) no-repeat 29% 23%;
}
input[type="radio"]:checked+span{
	background: url(../img/sprite.png) no-repeat 71% 23%;
}
nput[type="checkbox"]+span{
	background: url(../img/sprite.png) no-repeat 29% 92%;
}
input[type="checkbox"]:checked+span{
	background: url(../img/sprite.png) no-repeat 71% 92%;
}